extends layout

block content
  .container
    h1.titre Profile Personnel
    p.lead.titre Cette page contiendra les infos concernant la personne loggée.
    br
    
    a(href='/')
     button.btn.btn-primary(type="button") Cancel
    if (!user)
     a(href='/login')
      button.btn.btn-primary(type="button") Login
     a(href="/register") 
      button.btn.btn-primary(type="button") Register
    if (user)
     h4.titre= user
     h4.titre You are currently logged in as #{user.username}