body {
  margin-top: 68px;
  background-image: url('../img/background2.png')
}

img {
max-width: 100%;
}

ul{
	list-style: none;
}

#dragBarTop {
  -webkit-app-region: drag;
  background-color: rgb(63, 63, 63);
}

#closeWindow {
  cursor: pointer;
  -webkit-app-region: no-drag;
  opacity: 0.5;
  margin-right: 4px;
  color: #FFFFFF;
}

#closeWindow:hover {
  opacity: 0.9;
}

#main {
  margin-top: auto;
}

.titre{
color:white;
text-align:center;
}

.nav-sidebar{
color:white;

}

.navbar-brand{
padding: 9px;
}

.portsButton {
  margin-top: 8px;
}

.jumbotron-icon {
  font-size: 20em;
}

.led-on {
  color: #FFCC33
}

.chauffage-on{
 color:red;
}

.stores-on{
 color: yellow;
}

.elecmen-on{
  color:brown;
}

.musique-on{
  color: grey;
}

.aeration-on{
  color: green;
}

.search{
padding: 15px;
}

.slides{
padding: 15px;
}


@font-face {
	font-family: 'Weather';
	src: url('../fonts/weather.ttf') format('truetype');
}


.weather{
	color: rgba(255,255,255,0.8);
	list-style: none;
	max-width: 420px;
    padding-left: 10px;
	
}
.weather li{
	display: inline-block;
	float: left;
	margin: 8px 2px;
    width: 66px;
}

.weather li .temp{
	font-size: 1em;
	font-weight: bold;
	
}
.weather .day{
	font-size: 1.1em;
}
.weather .icon{
	font-size: 4em;
	margin: 0 0 7px 10px;
	height: 47px;
}

.weather li:first-child{
	margin-top: -30px;
    width: 180px;
}
.weather li:first-child .icon{
	font-size: 11.5em;
	height: 170px;
	margin: 0 0 7px 20px;
}
.weather li:first-child .day{
	font-size: 1.6em;
}
.weather li:first-child .temp{
	font-size: 3em;
}
.weather .low{
	opacity: .4;
}
.weather .icon{
	font-family: "Weather";
}

.time-block{
    max-width:100%;
	border-bottom: 2px solid rgba(255,255,255,0.4);
}

.underlined{
    border-bottom: 2px solid rgba(255,255,255,0.4);
    padding-bottom: 5px;
}

#time {
	font-size: 8em;
	line-height: 1.5;
	color: rgba(255,255,255,0.8)
}
    
#loader {
	color: rgba(255,255,255,0.8);
	font-family: 'Weather';
	-webkit-animation: spin 900ms linear infinite;
	-webkit-transform-origin: 50% 100%;
}